.App {
  text-align: left;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pokeCalc{
  display: flex;
  flex-direction: column;
}

.movesDisplay{
  display: flex;
  flex-direction: row;
}

.movesSections{
  display: flex;
  flex-direction: column;
}

nav {
  display: flex;
  flex-direction: row;
}

h1 {
  margin: 10px;
}

p {
  margin: 5px;
}

button {
  font-size: calc(10px + 2vmin);
}
