.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.pokeCalc{
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeSearch{
  display: flex;
  flex-direction: row;
}

.pokeInfo{
  display: flex;
  flex-direction: row;
  white-space: pre-line
}
.lvlInput{
  display: flex;
  flex-direction: row;
}

.movesDisplay{
  display: flex;
  flex-direction: row;
  
}

.movesSections{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid black ;
}

.moveInfo{
  border: 1px solid #282c34;
  min-width: 300px;
  max-width: 300px;
  min-height: 120px;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.damage{
  white-space: pre-line;
}

nav {
  display: flex;
  flex-direction: row;
}

h1 {
  margin: 10px;
}

p {
  margin: 5px;
}

input {
  font-size: calc(10px + 2vmin);
}

button {
  border-radius: 5px;
  border-style: none;
  margin: 2px;
  font-size: calc(10px + 2vmin);
  background-color: rgb(214, 58, 58);
  color:white
}

button:hover{
  background-color: rgb(255, 146, 146);
  color: rgb(214, 58, 58);
}