.App {
  text-align: left;
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

img{
  min-height: 75px;
  width: 100%;
  object-fit: cover;
  align-self: center;
}

.App-link {
  color: #61dafb;
}

.pokeCalc{
  font-size: 16px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.pokeSearch{
  display: flex;
  flex-direction: row;
}
.pokeInfo{
  display: flex;
  flex-direction: row;
  min-width: 300px;
  white-space: pre-line;
  padding: 15px;
  align-items: center;
}

.pokeImg{
  align-self: flex-start;
  min-width: 50px;
  min-height: auto;
  border: 2px solid rgb(224, 28, 28);
  border-radius: 15px;
  margin: 15px;
}

.lvlInput{
  display: flex;
  flex-direction: row;
}

.movesDisplay{
  display: flex;
  flex-direction: row;
  
}

.movesSections{
  display: flex;
  flex-direction: column;
  min-width: 300px;
  align-items: center;
  margin: 5px;
  padding: 5px;
  border: 1px solid black ;
}

.moveInfo{
  border: 1px solid #282c34;
  min-width: 300px;
  max-width: 300px;
  min-height: 120px;
  border-radius: 15px;
  margin: 15px;
  padding: 15px;
}

.damage{
  display: flex;
  flex-direction: column;
  white-space: pre-line;
}

nav {
  display: flex;
  flex-direction: row;
  margin: 20px;
  background-color: rgb(59, 76, 202);
  color: rgb(179, 161, 37);
}

h1 {
  margin: 10px;
}

p {
  margin: 5px;
}

input {
  font-size: calc(5px + 2vmin);
  min-width: 0;
  min-height: 0;
}

.statInput{
  display: inline-flex;
  flex-wrap: wrap;
  justify-content: center;
  min-width: 150px;
  max-width: 200px;
  min-height: 100px;
}

.stats{
  display: block;
  min-width: 0;
  min-height: 0;
  max-width: 50px;
}

button {
  border-radius: 5px;
  border-style: none;
  margin: 2px;
  font-size: calc(5px + 2vmin);
  background-color: rgb(214, 58, 58);
  color:white
}

button:hover{
  background-color: rgb(255, 146, 146);
  color: rgb(214, 58, 58);
}